@font-face {
    font-family: 'NanumHuman';
    src: url('/font/NanumHumanRegular.ttf') format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: 'NanumHuman';
	src: url('/font/NanumHumanBold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'd2coding';
	src: url('/font/D2Coding.woff2') format('woff');
	font-weight: regular;
}

@font-face {
	font-family: 'd2coding';
	src: url('/font/D2CodingBold.woff2') format('woff');
	font-weight: bold;
}


body {
	font-family:'NanumHuman' !important;
	font-size: 11pt !important;
	line-height: 180%;
	background-color: #FCFCF0;
	margin: 0px 0px;
	padding: 0px;

}

h1 {
	color: #FAF0CA;		   /* 글자색 */
	background-color: #0D3B66; /* 배경색 */
	width: 100%;				/* 너비 */
	margin: 0px; 				/* 바깥 여백*/
	padding : 1rem; 		/* 안쪽 여백 */
	box-sizing: border-box;		/* padding을 너비에 포함 */
}

table {
	width: 98%;
	margin: 10px auto; /* 테이블을 가운데 정렬 */
	border-collapse: collapse; /* 테이블 셀 간의 간격 제거 */
	border-style:solid;
	border-top:#666666 2px solid;
	border-left:#EFEFEF 1px solid;
	border-right:#EFEFEF 1px solid;
	border-bottom:#666666 1px solid;
}

th {
	height:24px; 
	color: #000000; 
	background:#CCCCCC;
	vertical-align: middle;
	border-bottom:#E0DFE0 1px dotted; 
	border-right:#E0DFE0 1px dotted; 
	border-left:#E0DFE0 1px dotted; 
}

td {
	height:24px; 
	color: #000000;
	border-bottom:#E0DFE0 1px dotted; 
	border-left:#EFEFEF 1px solid;
	border-right:#EFEFEF 1px solid;
	padding-left:5px; 
	padding-right:5px;
	background-color: #FCFCF0;
	text-align: center;
}

input {
	font-family:'d2coding' !important;
	font-size: 10.5pt !important;
}